{% extends 'main.html' %} {% block content %} {% load static %}

<main>
  {% if request.user.is_authenticated %}
  <h1>Hello {{user.username}}</h1>
  {% endif %}

  <div class="wrapper-grid-1-3-1">
    <div class="p-2">
      <h3>People you may know</h3>
      {% for user in users %}
      <div class="shadow flex">
        {% if user.avatar %}
        <img
          class="profile-image"
          src="{{ user.avatar.url }}"
          alt="{{ user.username }} profile pic"
        />
        {% else %}
        <img
          class="profile-image"
          src="{% static 'images/default-pic.jpeg' %}"
          alt="default profile pic"
        />
        {% endif %}
        <div>
          <a href="{% url 'user_profile' user.id %}">
            <p>{{user.username}}</p>
          </a>
          <p>{{user.friends.count}} followers</p>
        </div>
        {% if request.user in user.sent_requests %}
        <p>following</p>
        {% else %}
        <p>
          <a href="{% url 'follow' user.id %}">Follow</a>
        </p>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <div class="p-2">
      <h3>Recent posts</h3>
      {% if posts and posts.count != 0 %}
      <div>
        {% for p in posts %}
        <h3>{{p.title}}</h3>
        <video src="{{p.video.url}}"></video>
        {% endfor %}
      </div>
      {% else %}
      <div>
        <h3>No Recent posts to display</h3>
      </div>
      {% endif %}
    </div>
    <div>{% include 'components/pending-requests.html' %}</div>
  </div>
</main>
{% endblock %}
