{% extends 'main.html' %} {% block content %}

<h1>Home Connect</h1>
<div>
  <h3>Messages</h3>
  {% for m in messages %}
  <div>
    <p>{{m.id}}</p>
    <a href="{% url 'chatroom' m.id %}">
      <p>{{m.sender.username}}</p>
    </a>
    <h4>{{m.content}}</h4>
  </div>
  {% endfor %}
  <form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="username" value="{{req.user.username}}" />
    <input type="hidden" name="chatroom" value="{{req.user.username}}" />
    <br /><br />
    <textarea name="message" id=""> </textarea>
    <br />
    <input type="submit" value="submit" />
  </form>
</div>
{% endblock %}
