{% extends 'main.html' %} {% block content %}

<h1>Hello {{user.username}}</h1>
<div>
  <h3>People you may know</h3>
  {% for user in users %}
  <div>
    <a href="{% url 'chatroom' user.id %}">
      <p>{{user.username}}</p>
    </a>
    <p>{{user.email}}</p>
  </div>
  {% endfor %}
  <form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="username" value="{{req.user.username}}" />
    <input type="hidden" name="chatroom" value="{{req.user.username}}" />
    <br /><br />
    <textarea name="message" id=""> </textarea>
    <br />
    <input type="submit" value="submit" />
  </form>
</div>
{% endblock %}
